@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-body: 249 239 219;
      --color-body-text: 0 0 0;
      --color-primary: 61 85 137;
      --color-accent: 134 133 192;

      --color-warning-text: 230 92 25;
      --color-warning-bg: 245 190 163;

      --color-success-text: 10 104 71;
      --color-success-bg: 204 250 234;

      --color-beta-text: 255 255 255;
      --color-beta-bg: 33 25 81;

      --color-alpha-text: 116 105 182;
      --color-alpha-bg: 222 219 238;

      --color-preAlpha-text: 116 105 182;
      --color-preAlpha-bg: 222 219 238;

      --color-deprecated-text: 49 54 63;
      --color-deprecated-bg: 232 234 237;
    }

    .dark-theme {
        --color-body: 23 30 83;
        --color-body-text: 255 255 255;
        --color-primary: 61 85 137;
        --color-accent: 134 133 192;
    }
  }